
.Results{ 
    list-style: none;
    display: inline-block;
    width: 90%;
}

.ResultCard{
    display: flex;

}

.ResultCard:nth-child(1){
    padding-top: 8vw;
}

.InfoHeader{
    padding-left: 1vw;
    padding-bottom: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    border: rgb(28, 28, 28) 1px solid;
    width: 100%;
    

}

.PosterWrapper{
    box-shadow: 5px 5px 5px #ccc;
}

.Info{
    width: 100%;
    padding-left: 1vw;
}

.watchedButton{
}


