.NavList {
  display: flex;
  align-items: flex-end;
  gap: 3rem;
  padding: 0;
}

.navItem {
  list-style: none;
  text-decoration: none;
  font-size: 120%;
}

.navItem a {
  color: black;
  text-decoration: none;
}

.dropbtn {
  /* background-color: #ddd; */
  color: rgb(0, 0, 0);
  padding: 16px;
  font-size: 16px;
  border: none;
  width: 8rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: var(--clr-gray100);
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown_content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown_content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown_content {
  display: block;
}
