.input-wrapper{
    left: 40%;
    display: flex;
    justify-content: center;
}

.input-wrapper input{
    height: 2vw;
    width: 20vw;
    text-align: center;
    font-size:125% ;
    text-align: left;
    padding-left: 3vw;
}

.InputWrapperContainer{
    width: 100%;
} 