.ButtonContainer{
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    /* justify-content: center; */
    width: 10%;
    height: 10%;
    align-items: center;
}

.toggleButton{
    position:absolute;
    left: 45rem;
    font-size: 100%;
    color: black;
    text-align: center;
    padding: .5rem;
    cursor: pointer;

}